<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>


<div class="col-xs-12 col-sm-12 text-center" id="home-top-1">
  <h1>Welcome!</h1>

  <h2>This is the homepage</h2>

  <p>Try our Suzan portfolio now !</p>
</div>

<!--       <p>
    Find me in <code>app/views/pages/home.html.erb</code>
  </p>

  <p>
    Thanks to the <a href="https://github.com/thoughtbot/high_voltage">high_voltage</a>
    gem, if you need more static pages (like <code>/contact</code> or <code>/about-us</code>),
    just create a file in the <code>app/views/pages</code> folder, the route will be automatically
    available without you adding any controller or touching the <code>config/routes.rb</code> file!
  </p> -->
</div>

<div class="col-xs-12 col-sm-12 text-center" id="home-top-2">
  <h3>Comment ca marche !</h3>
  <div class="col-xs-12 col-sm-6" id="home-top-2-1">
    <p>Image de présentation</p>
  </div>
  <div class="col-xs-12 col-sm-6" id="home-top-2-2">
    <p>Texte de présentation</p>
  </div>
</div>

<div class="col-xs-12 col-sm-12 text-center" id="home-top-3">
  <div class="col-xs-12 col-sm-6" id="home-top-3-1">
    <h3>Instrument de défiscalisation</h3>
    <p>Explication</p>
    <p>Image</p>
  </div>
  <div class="col-xs-12 col-sm-6" id="home-top-3-2">
    <h3>Epargnez</h3>
    <p>Explication</p>
    <p>Image</p>
  </div>
</div>
